@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: rgb(209, 208, 208);
}
header {
    background-color: #323a28b9;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    padding: 10px;
    text-align: center;
}
i#imenu {
    background-color: #212120;
    display: block;
    text-align: center;
    padding-bottom: 7px;
    cursor: pointer;
}

i#imenu:hover {
    background-color:black;
    color: white;
}

menu {
    display: none;
}

menu > ul { 
    list-style-type: none;

}

menu > ul > li > a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: white;
    background-color: #323a28b9;
   border-top: 1px solid rgba(255, 255, 255, 0.205);
}

menu > ul > li > a:hover{
    background-color: #4b573f;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 { 
    padding-bottom: 20px;
}

article > p { 
   text-align: justify;
   padding-bottom: 20px;
   text-indent: 10px;
}
